.venv
venv
__pycache__
*.py[cod]
*.pyo
*.pyd
.Python
*.so
.git
.gitignore
.idea
.vscode
*.iml
.env
.env.*
!.env.example
*.log
*.sqlite3
db.sqlite3
media/*
!media/.gitkeep
staticfiles
.coverage
htmlcov
terminals
